.colored{
  background-color: lime;
}
.inputs{
  border: solid black 5px;
  text-align: center;
}
.main{
  width: 90%;
  text-align: center;
}

.sec{
  width: 5%;
  text-align: center;
}
table, th, td{
  border: solid black 1px;
  width: 100%
}
